section.Basic-Link a {
    display: inline-block;
    color: rgb(0, 0, 0); 
    background: rgb(44, 230, 255);
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    width: 200px;
    margin: 15px;
    text-align: center;
    text-decoration: none;

    transition-property: background, color;
    transition-duration: .35s;
    transition-timing-function: linear;
    /* transition-delay: .25s; */

    
}




/*When mouse hovers over link*/
section.Basic-Link a:hover{  
    background: rgb(200, 235, 255);
    color: #0006CC;
}

/*When user tabs to this link*/
section.Basic-Link a:focus{ 
    background: rgb(200, 235, 255);
    color: #0006CC;
}

/*When user clicks and holds mouse button on this link*/
section.Basic-Link a:active{ 
    border: 4px solid #000000;
    height: 36px;
    line-height: 36px;
    width: 196px;
}

/* generic styling of header */
section.Basic-Link h1 {
    font-size: 36px;
    color: #000000;
    font-family: arial, "Times New Roman" ;
}


/* styling for when there is no more demos */
/* because we are using DIV, repeat the above a tag but chnage some things */
section.Basic-Link .empty-box {
    display: inline-block;
    background: rgba(211, 220, 221, 0);
    color: rgba(0, 0, 0, 0.329);
    border: 2px solid rgba(0, 0, 0, 0.425);
    border-radius: 20px; 
    font-weight: bold;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    width: 200px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
}

/*styling for just the header box section*/
section.Basic-Link {
    background: rgb(30, 175, 200, .5);
	background: -moz-linear-gradient(top,rgb(23, 150, 255) 0%, rgb(30, 175, 200, .5) 50%, rgb(44, 180, 230, 0) 100%);
	background: -webkit-linear-gradient(rgb(23, 150, 255) 0%, rgb(30, 175, 200, .5) 50%, rgb(44, 180, 230, 0) 100%);
	background: -o-linear-gradient(rgb(23, 150, 255) 0%, rgb(30, 175, 200, .5) 50%, rgb(44, 180, 230, 0) 100%);
	background: linear-gradient(rgb(23, 150, 255) 0%, rgb(30, 175, 200, .5) 50%, rgb(44, 180, 230, 0) 100%); 

    padding-block-end: .01%;
    
    /* makes it so the elements do not wrap (but I probably would like this to not cut into the margins)  */
    white-space:nowrap;
}




