div{
	font-size:140%;
	
  }
  
  /* add a border but only those that stray with "visible" */
  div[class^="visible"]{
	border: 1px solid black;
	margin-top:3%;
  }
  
  /* add color but only those ENDING with the following */
  div[class$=lg]{
	color:red;
  }
  div[class$=md]{
	color:blue;
  }
  div[class$=sm]{
	color:green;
  }