img {
    display: none;
}

header {
    background: rgb(175, 175, 175);
}

h1 {
    text-align: center;
    color: rgb(250, 250, 250);
    text-transform: uppercase
}

h2 {
    text-align: left;
    color: rgb(0, 0, 250);
    text-transform: uppercase
}

section {
    background: rgb(125, 125, 125);
}

a {
    background: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
}

  
  