




body {
  font-family: Helvetica Tahoma Georgia;
  /* margin-bottom: 60px; */
}

img {
  width: 100%;
  max-width:900px;
}



/* for navbar */

.nav_title {
  color: rgb(199 199 199);
  padding: 0 4em 0 0;
  font-size: 30px;
}

button.navbutton {
	background-color:transparent;  
	border:none; 
	color:white!important; 
	outline-style:none;
}

button.navbutton:hover {
  color: rgb(29, 150, 161)!important;
}



.navbar-toggler {
  text-align: center;
}

.navbar-spacing{
  padding: 0 1em;
  font-size: 1.1em;
}
.bg-udc {
  background-color: rgb(0 61 66)!important;
}

.Intro-Info {
  max-width: 575px;
  /* width: 80%; */
  display: inline-block;
  margin: auto;
  line-height: 1.6rem;
  background-color: rgba(240, 240, 240, .6);
  border: 5px solid rgba(255, 255, 255, .4);
  padding: 2rem;
  border-radius: 10px;
}


/* old, delete after done */
/* .center_al {
  margin: auto;
}

.center_al > ul {
  font-size: 1.5em;
  padding: 1em;
  padding-left: 2em;
  text-align: left;
}

.center_al > ul > li {
  padding: .7em .2em;
  list-style-image: url(../img/Calloment_symbol_med.png);
  list-style-type: none;
}

.center_al > ul > li > ul {
  font-size: .8em;
  padding: 1em;
  }

.center_al > ul > li > ul > li {
  list-style-image: url(../img/Calloment_symbol_small.png);
} */





.center_al
{
margin-left: 0;
padding-left: 0;
}

.center_al > ul {
  font-size: 1.5em;
  padding: 1em;
  /* padding-left: 2em; */
  text-align: left;
}

.center_al > ul > li
{
  background-image: url(../img/Calloment_symbol_blank.png);
  background-repeat: no-repeat;
  background-position: 0 0em;
  background-size: 1.5em;
  list-style-type: none;
  padding: 0em .5em 1.5em 2em;
}

.center_al > ul > li > ul {
  font-size: .8em;
  padding: .4em;
  }


.center_box {
  margin: auto;
  text-align: center;
}

.title_head{
  margin: auto;
  text-align: center;
  padding: 2em;
}

.sub_head {
  margin: auto;
  text-align: center;
  margin-top: 4em;
  padding: 10px;
}


.card_holder {
  width: 3in;
  /* width: 80%; */
  display: inline-block;
  margin: auto;
  margin-top: 4em;
  /* line-height: 1.6rem; */
  background-color: rgba(192, 192, 192, 0.6);
  border: 5px solid rgba(255, 255, 255, .4);
  border-radius: 15px;
  padding: 1rem;
}

.card_holder > div {
  background-color: rgba(142, 243, 218, 0.6);
  border-radius: 15px;
  margin-top: 1em;
  padding: .5em;
}

.card_holder h4 {
  margin: 0 auto;
  font-size: 1.3em;
  font-weight: bold;
} 



.card {
  width: 2.5in;
  margin: 0 auto;
  /* padding: 1em; */
}

#spaced_card {
  padding-top: 2em;
  padding-bottom: 8em;
}


.info_hub {
  text-align: center;
  padding: 2em 0em;
}

.toggle_button {
  width: 80%;
  height: 30px;
  line-height: 24px;
  background: rgb(0 59 82);
  margin: .4em auto;
  text-align: center;
  color: rgb(255 255 255);
  border: 3px solid rgba(255, 255, 255, .4);
  border-radius: 10px;

  transition-property: background, color;
  transition-duration: .35s;
  transition-timing-function: linear;
}

.toggle_button:hover {
  background: rgb(1 82 129);
  color: rgb(170 171 207);
}

/* for  tabbing but issue right now is it will hold if a person click on a link until a person click off a link*/
.toggle_button:focus{ 
  background: rgb(1 82 129);
  color: rgb(170 171 207);
}

/*When user clicks and holds mouse button on this link*/
.toggle_button:active{ 
  border: 6px solid #000000;
  line-height: 18px;
}

.info-box {
  background: rgb(219 219 219 / 60%);
  border: 5px solid rgba(255, 255, 255, .4);
  border-radius: 3px;
  display: none;
  padding: 1em;
  margin: .4em auto;
}

.info-box-text {
  width: 272px;
  font-size: 18px;
  display: inline-block;
  background-color: rgb(167 165 165 / 60%);
  border: 5px solid rgba(255, 255, 255, .4);
  border-radius: 15px;
  padding: 1rem;
  text-align: left;
}



/* a link buttons */
a.more-info-link{
  display: inline-block;
  color: rgb(255 255 255);
  background: rgb(0 59 82);
  border: 4px solid rgba(255, 255, 255, .4);
  border-radius: 15px;
  font-weight: bold;
  font-size: 34px;
  height: 64px;
  line-height: 56px;
  width: 272px;
  /* margin: 15px; */
  margin: .22em 0em;
  text-align: center;
  text-decoration: none;
  transition-property: background, color;
  transition-duration: .35s;
  transition-timing-function: linear;


}



a.more-info-link:hover{  
  background: rgb(1 82 129);
  color: rgb(170 171 207);
}

/*When user tabs to this link*/
a.more-info-link:focus{ 
  background: rgb(1 82 129);
  color: rgb(170 171 207);
}

/*When user clicks and holds mouse button on this link*/
a.more-info-link:active{ 
  border: 8px solid #000000;
  line-height: 48px;
}


.screen-size {
  width: 272px;
  height: 153px;
  margin-top: 1.5em;
  margin-bottom: .5em;
  border: 4px solid rgba(255, 255, 255, .4);
  border-radius: 15px;
}

/* link info-box but does not "display: none" */
.card-box {
  background: rgb(219 219 219 / 60%);
  border: 5px solid rgba(255, 255, 255, .4);
  border-radius: 30px;
  padding: 1em;
  margin: 4em auto;
  display: inline-flex;
  max-width: 1100px;
}


.card-box-header {
  width: 300px;
  font-size: 24px;
  display: inline-block;
  background-color: rgb(167 165 165 / 60%);
  border: 5px solid rgba(255, 255, 255, .4);
  border-radius: 15px;
  padding: .5rem;
}

.card-box-header > h3{
margin-bottom: 0em;
}


.custom-carousel-frame {
  width: 270px;
  padding: 1em;
  border-radius: 15px;
  margin: auto;
}


.rule-info-box {
  width: 100%;
  display: block;
  margin: auto;
}



/* medium screens */
@media screen and (min-width:768px){
  
  .info-box-text {
    border-radius: 15px 0px 0px 15px;
  }
  
  .screen-size {
    width: 304px;
    height: 171px;
    margin-top: 0em;
    margin-bottom: 1.8em;
    border-radius: 0px 15px 0px 0px;

  }
  a.more-info-link {
    width: 304px;
    height: 98px;
    line-height: 90px;
    border-radius: 0px 0px 15px 0px;
  }

  a.more-info-link:active{ 
    border: 8px solid #000000;
    line-height: 82px;
  }

  .rule-info-box {
    width: 80%;
  }

  .card-box-header {
    width: 500px;
  }
  
}




/* large screens */
@media screen and (min-width:992px){
  
  .info-box-text {
    width: 3.4in;
    height: 370px;
    font-size: 22px;
    margin: 1.04em auto;
    background-color: rgb(167 165 165 / 60%);
    border: 5px solid rgba(255, 255, 255, .4);
    border-radius: 15px 0px 0px 15px;
    padding: 1rem;
    text-align: left;
  }
  
  .screen-size {
    width: 490px;
    /* width: 48vw; */
    height: 280px;
    /* height: 29vw; */
    margin-top: 1.5em;
    margin-bottom: .5em;
    border: 4px solid rgba(255, 255, 255, .4);
    border-radius: 0px 15px 0px 0px;
  }

  
  a.more-info-link{
    display: inline-block;
    color: rgb(255 255 255);
    background: rgb(0 59 82);
    border: 4px solid rgba(255, 255, 255, .4);
    border-radius: 0px 0px 15px 0px;
    font-weight: bold;
    font-size: 34px;
    height: 64px;
    line-height: 56px;
    width: 490px;
    /* margin: 15px; */
    margin: .22em 0em;
    text-align: center;
    text-decoration: none;
  
  }

  a.more-info-link:active{ 
    border: 8px solid #000000;
    line-height: 48px;
  }
  .rule-info-box {
    width: 61%;
  }
}









.img-in-line-15 {
  width: 15px;
}



/* note, maybe fix footer so it is always at the bottom? */
.footer {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: rgb(0 61 66);
}

.footer > div {
  padding-right: 2em;
  padding-left: 2em;
  text-align: left ;
  font-size: 24px;
  color: rgb(255, 255, 255, .6);
}




